
@font-face{
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'shrikhandregular';
    src: url('../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin breakpoints ($point) {
    @if $point == mobile {
        @media screen and(max-width: 599px) { @content; }
    }
    @else if $point == ipad {
        @media screen and (min-width: 600px) and (max-width: 1270px){ @content; }
    }
} 
$color-primery:#9356dc;
$color-secondary:#ff79da;
$color-three:#99e2d0;
$color-foor:#ffffff;
body{
    width: auto;
    margin: 0;
    padding: 0;
    .spiner {
        position: fixed;
        background-color: $color-three;
        height: 100%;
        width: 100%;
        @extend .flex;
        animation: accueil 3s ease-in-out forwards;
        z-index: 200;
        opacity: 1;
        @keyframes accueil{
            0%{opacity: 1;}
            50%{opacity: 0.5;}
            75%{opacity: 0.3;}
            100%{opacity: 0;
            visibility: hidden;
            }
        }
        .loader {
            width: 50px;
            height: 50px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }
        .loader-quart {
            border-radius: 50px;
            border: 6px solid rgba(255, 255, 255, 0.4);
        }
        .loader-quart::after {
            content:'';
            position: absolute;
            top: -6px; left: -6px; bottom: -6px; right: -6px;
            border: 6px solid transparent;
            border-top-color: #fff;
            border-radius: 50px;
            animation: spin linear 3s;
            @keyframes spin{
                0%{transform: rotate(0deg);}
                 100%{transform: rotate(360deg);}
            }
        }   
    }
    .logo {
    @extend .flex;
    padding-top: 20px;
    }  
    .gps {
        @extend .flex;
        background-color: grey;
        height: 40px;
        margin-top: 10px;
        .localisation {
            margin-right: 20px;
            p {
                background-color: #696969;
                border: none;
                box-shadow: 0 0 8px #696969;
                width: 250px;
                height: 20px;
            }
        }
    }
    .bloc-tete {
        .titre {
            margin: auto;
            font-size: x-large;
            font-family: "robotoregular";
            text-align: center;
            @include breakpoints(mobile) {
                font-size: x-large;
                font-family: "robotoregular";
                text-align: center;
            }
            @include breakpoints(ipad) {
                font-size: x-large;
                font-family: "robotoregular";
                text-align: center;
            }
        }
        .sous-titre{
            @extend .flex;
            margin: auto;
            font-family: "robotoregular";
            text-align: center;
            @include breakpoints(mobile) {
                font-size: 21px;
            }
            @include breakpoints(ipad) {
                font-size: 19px;
            }
        }
        .explorer {
            @extend .flex;
            .boutton {
                height: 50px;
                border-radius: 30px 30px 30px 30px;
                margin-bottom: 20px;
                cursor: pointer;
                border: none;
                color: #f2f2f2;
                background: linear-gradient(175deg, #ff79da 10%, $color-primery 90%);   
                opacity: 0.8;
                box-shadow:0 0 4px $color-three;
                @include breakpoints(ipad) {
                    font-size: 20px;
                }
                &:hover {
                background-color: $color-primery;
                box-shadow: 0 0 8px $color-three;
                opacity: 1;
                }
            }
        }
    }
    .fonc-titre {
        width: 95%;
        height: 50px;
        h3 {
            font-size: 25px;
            margin-left: 2%;
            width: 100%;
            font-family: 'robotoregular';
        }
    }
    .fonctions {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        @include breakpoints(mobile) {
            display: block;
            width: 95%;
            padding-bottom: 10px;
            margin-top: -11px;
        }
        @include breakpoints(ipad) {
            display: block;
            padding-bottom: 10px;
            margin-top: -11px;
        }
        .service {
            width: 28%;
            height: 70px;
            font-size: 24px;
            border-radius: 10px 10px 10px 10px;
            background-color: #f2f2f2;
            display: flex;
            align-items: center;
            margin: auto;
            font-family: 'robotolight';
            @include breakpoints(mobile) {
                width: 90%;
                margin: auto;
                margin-top: 10px;
            }
            @include breakpoints(ipad) {
                width: 93%;
                margin: auto;
                margin-top: 10px;
                font-size: 27px;
            }
            &:hover {
                background-color: #f2eafb;
                cursor: pointer;               
                i {
                    color: $color-primery;
                    opacity: 1;
                }
            }
            i {
                width: 30px;
                height: 30px;
                color: #778899;
                margin-right: 5px;
                margin-left: 5px;
                @extend .flex;
                opacity: 1;
            }
            p {
                @extend .flex;
                border-radius: 50%;
                width: 20px;
                font-size: 15px;
                height: 20px;
                margin-left: -10px;
                color: #ffffff;
                background-color: $color-primery;
                opacity: 1;
            }   
        }
    }
    .resto-father {
        width: 100%;
        background-color: red;
        .resto {
            padding-left: 2%;
            font-size: 23px;
            font-family: 'robotoregular';
            .h3 {
                font-family: 'robotoregular';
                font-size: 23px;

            }
            @include breakpoints(mobile) {
                padding-left: 2%;
                font-size: 23px;
                font-family: 'robotoregular';
            }
        }
        .menu {
             width: 95%;
            height: auto;
            border-radius: 10px 10px 10px 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            padding: 0;
            @include breakpoints(mobile) {
                display: block;
            }
            @include breakpoints(ipad) {
                display: block;
            }
            a{
                text-decoration: none;
            }
            .restaurant {
                margin-bottom: 40px;
                width: 48%; 
                border-radius: 10px 10px 10px 10px;
                margin: 20px 0 20px 0;
                box-shadow: 0px 0px 8px #808080;
                cursor: pointer;
                object-fit: cover;
                @include breakpoints(mobile) {
                    width: 100%; 
                }
                @include breakpoints(ipad) {
                    width: 100%;
                    margin-bottom: 20px;
                }
                .nouveau {
                    color: green;
                    background-color: $color-three;
                    position: absolute;
                    width: 15%;
                    margin: 10px 30%;
                    @extend .flex;
                    p {
                        font-size: 25px;   
                    }
                    @include breakpoints(mobile) { 
                    color: green;
                    background-color: $color-three;
                    position: absolute;
                    width: 30%;
                    height: 50px;
                    @extend .flex;
                    margin: 10px 60%;
                    }
                    @include breakpoints(ipad) {
                        width: 30%;
                        margin: 10px 60%
                    } 
                }
                img {
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                    @include breakpoints(mobile) {
                        height: 300px;
                    }   
                }
                .identification {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0 0 10px 10px;
                    .nom-resto {
                        font-size: 20px;
                        text-decoration: none;
                        width: 70%;
                        color: black;
                        margin-left: 10px;
                        p {
                            font-family: "robotolight";
                            font-size: larger;
                            margin-top: -30px;
                        }
                        h5 {
                            font-family: "robotoregular";
                            font-size: 22px;
                            margin-top: 5px;
                        }
                    }
                    .coeur {
                        margin-top: -25px;
                        margin-right: 10px;
                        height: 30px;
                        width: 30px;
                        @extend .flex;
                        .rose {
                            position: absolute;
                            opacity: 0;
                            background: linear-gradient(#ff79da, $color-primery);
                            -webkit-background-clip: text;
                            color: transparent;
                            transition-duration: 1.2s; 
                            width: 30px;
                            height: 30px;
                            @extend .flex; 
                        }
                        .rose:hover {
                            opacity: 1;
                            transform: scale(1.2)
                        }
                    }
                }
            }
        }
    }
    .logo-menu {
        width: auto;
        height: 150px;
        display: flex;
        align-items: center; 
        @include breakpoints(mobile) {
            height: 80px;
            object-fit: cover;
        }
        p {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 100px;
            font-family: "shrikhandregular";
            @include breakpoints(mobile){ 
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: xx-large;
                font-family: "shrikhandregular";
            }
            @include breakpoints(ipad){
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: xxx-large;
                font-family: "shrikhandregular";  
            }
        }
        i {
            margin-left: 15px;
        }
    }
    .titre-menu {
        img {
            width: 100%;
            object-fit: cover;
            height: 550px;
            @include breakpoints(mobile) {
                width: 100%; 
                object-fit: cover;
                height: 270px;
            }
            @include breakpoints(ipad) {
                height: 650px;
                object-fit: cover;
            }
        }
        .cuisine-style {
            width: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 40px 40px 0 0;
            background-color: #f2f2f2;
            padding: 10px;
            position: relative;
            margin-top: -40px;
            @include breakpoints(ipad) {
                margin-top: -35px;
            }
            .coeur3 {
                margin-right: 10px;
                font-size: 20px;
                width: 40px;
                height: 40px;
                @extend .flex;
            }
            h1 {
                font-family: 'shrikhandregular';
                font-size: 25px;  
            }
        }
    }
    .rose {
        position: absolute;
        opacity: 0;
        background: linear-gradient(#ff79da, $color-primery);
        -webkit-background-clip: text;
        color: transparent;
        transition-duration: 1.2s;
        width: 30px;
        height: 30px;
        @extend .flex;
        &:hover {
            opacity: 1;
            transform: scale(1.2);
        }
    }
    .menu-prince { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include breakpoints(mobile) {
            width: 100%;
            height: auto;
            display: block;
        }
        @include breakpoints(ipad) {
            display: block;
        }
        .contner{
            width: 100%;
            animation: moh 0.2s ease-in-out forwards;
            @keyframes moh {
               0%{height: 0px;}
               25% {height:90px;}
               50% {height:145px;}
               75% {height:200px;}
               100% {height:290px;}
            }
            h2 {
                margin-left: 10px;
                border-bottom: solid aqua;
                width: 60px;
                font-family: 'robotolight';
                
            }
            .menus {
                border-radius: 10px 10px 10px 10px;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 0px;
                width: 98%;
                margin-top: 20px;
                font-family: 'robotolight';
                animation: menu 1.5s ease-in-out forwards;
                background-color: $color-foor;
                box-shadow: 0px 0px 6px #808080;
                cursor: pointer;
                @keyframes menu {
                    from {
                        height: 0;
                    }
                    to {
                        height: 70px;
                    }
                }
                &:hover {
                    transform:scale(90px); 
                    opacity: 1;
                    &:hover .check {
                        transform:scale(90px);
                        width:85px;
                        opacity: 1;
                        i {
                            transform:rotate(1turn);
                            opacity: 1;
                        }
                    }  
                }
                .plat {
                    display: block;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    .prix {
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-family: 'robotolight';
                        p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            margin-top: 5px;
                            font-size: 19px;
                            font-weight: 900;
                            margin-bottom: 5px;
                            padding-left: 5px;
                        } 
                    }
                    .ingridts {
                        height: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 18px;
                        margin: 0 2px 5px 0;
                        padding-left: 5px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        @include breakpoints(ipad) {
                            font-size: 20px;
                            font-family: 'robotolight';
                        }
                        p {
                            text-overflow:ellipsis;
                            white-space:nowrap;
                            overflow:hidden                            
                        }
                    }
                }
                .check {
                    height: 70px;
                    width: 10px;
                    @extend .flex;
                    border-radius: 0 10px 10px 0;
                    background-color: aqua;
                    transition: 1s;
                    opacity: 0;
                    I  {
                        transform: rotate(0);
                        transition-duration: 1s;
                        color: #ffffff;
                        opacity: 1;
                    }           
                }
            }
        }
    }
    .commande { 
        width: 100%;
        display: flex;
        margin-top: 30px;
        .boutton {
            width: 150px;
            height: 50px;
            margin: auto;
            margin-top: 20px;
            border-radius: 30px 30px 30px 30px;
            cursor: pointer;
            border: none;
            color: #f2f2f2;
            background: linear-gradient(175deg, #ff79da 10%, $color-primery 90%);
            opacity: 0.8;
            box-shadow: 0 0 4px #808080;
            &:hover {
                opacity: 1;
                background-color: $color-primery;
                box-shadow:0 0 6px #808080;
            } 
            @include breakpoints(mobile) {
                width: 50%;
                height: 50px;
                margin-left: 25%;
                margin-top: 20px;
                border-radius: 30px 30px 30px 30px;
                cursor: pointer;
                border: none;
                background-color: $color-primery;
                opacity: 0.8;
                box-shadow: 0 0 4px #808080;
            }
        }
    }
    .bloc-fin {
        width: auto;
        color: $color-foor;
        background-color: #000000;
        padding-bottom: 20px;
        margin-top: 20px;
        padding-top: 10px;
        font-size: 25px;
        font-family: 'robotolight';
        @include breakpoints(ipad) {
            font-size: 25px;
        }
        h6, h4 {
            width: 80%;
            padding-left: 5px;
            color: #ffffff;
            margin-bottom: 10px;
            font-size: 25px;
            font-family: 'shrikhandregular';
        }
        .proposition {
            width: 80%;
            display: flex;
            align-items: center;
            padding-left: 10px;
            @include breakpoints(mobile) {
                width: 80%;
                display: flex;
                align-items: center;
                padding-left: 5px;
            }
        }
        .partner {
            width: 80%;
            display: flex;
            align-items: center;
            padding-left: 10px;
            @include breakpoints(mobile) {
                width: 80%;
                display: flex;
                align-items: center;
                padding-left: 5px;
            }
        }
        .mention {
            width: 80%;
            padding-left: 10px;
            @include breakpoints(mobile) {
                width: 80%;
                display: flex;
                align-items: center;
                padding-left: 5px;
            }
        }
        a {
            width: 80%;
            padding-left: 10px;
            text-decoration: none; 
            color: $color-foor;
            @include breakpoints(mobile) {
                width: 80%;
                display: flex;
                align-items: center;
                padding-left: 5px;
            }
        }
        i {
            margin-right: 15px;
        } 
    } 
}
