@font-face {
  font-family: "robotolight";
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.flex, body .menu-prince .contner .menus .check, body .rose, body .titre-menu .cuisine-style .coeur3, body .menu .restaurant .identification .coeur .rose, body .menu .restaurant .identification .coeur, body .menu .restaurant .nouveau, body .fonctions .service p, body .fonctions .service i, body .fonctions .service:hover:hover p, body .fonctions .service:hover:hover i, body .bloc-tete .sous-titre, body .bloc-tete .titre, body .gps, body .logo, body .spiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: auto;
  margin: 0;
  padding: 0;
}
body .spiner {
  position: fixed;
  background-color: #99e2d0;
  height: 100%;
  width: 100%;
  animation: accueil 3s ease-in-out forwards;
  z-index: 200;
  opacity: 1;
}
@keyframes accueil {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
body .spiner .loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
body .spiner .loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
body .spiner .loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-radius: 50px;
  animation: spin linear 3s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .gps {
  background-color: #696969;
  height: 40px;
  margin-top: 10px;
}
body .gps .localisation {
  margin-right: 20px;
}
body .gps .localisation p {
  background-color: #696969;
  border: none;
  box-shadow: 0 0 8px #696969;
  width: 250px;
  height: 20px;
}
body .bloc-tete .titre {
  width: 100%;
  font-size: 25px;
  font-family: "robotoregular";
}
@media screen and (max-width: 599px) {
  body .bloc-tete .titre {
    width: 90%;
    margin: auto;
    font-size: x-large;
    font-family: "robotoregular";
  }
}
body .bloc-tete .sous-titre {
  width: 100%;
  font-size: 20px;
  font-family: "robotoregular";
}
@media screen and (max-width: 599px) {
  body .bloc-tete .sous-titre {
    width: 90%;
    margin: auto;
    font-size: 22px;
    font-family: "robotoregular";
  }
}
body .bloc-tete .boutton {
  width: 20%;
  height: 50px;
  margin-left: 40%;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  color: #f2f2f2;
  background: linear-gradient(175deg, #ff79da 10%, #9356dc 90%);
  opacity: 0.8;
  opacity: 0.8;
  box-shadow: 0 0 4px #99e2d0;
}
@media screen and (max-width: 599px) {
  body .bloc-tete .boutton {
    width: 60%;
    margin-left: 20%;
    font-size: 15px;
  }
}
@media screen and (max-width: 1200px) {
  body .bloc-tete .boutton {
    width: 30%;
    margin-left: 35%;
    font-size: 18px;
  }
}
body .bloc-tete .boutton:hover {
  background-color: #9356dc;
  box-shadow: 0 0 8px #99e2d0;
  opacity: 1;
}
body .fonc-titre {
  width: 95%;
  height: 50px;
}
body .fonc-titre h3 {
  font-size: 25px;
  margin-left: 2%;
  width: 100%;
  font-family: "robotoregular";
}
body .fonctions {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 599px) {
  body .fonctions {
    display: block;
    width: 95%;
    padding-bottom: 10px;
    margin-top: -11px;
  }
}
@media screen and (max-width: 1200px) {
  body .fonctions {
    display: block;
    padding-bottom: 10px;
    margin-top: -11px;
  }
}
body .fonctions .service {
  width: 28%;
  height: 70px;
  font-size: 25px;
  border-radius: 10px 10px 10px 10px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  margin: auto;
}
@media screen and (max-width: 599px) {
  body .fonctions .service {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1200px) {
  body .fonctions .service {
    width: 93%;
    margin: auto;
    margin-top: 10px;
  }
}
body .fonctions .service:hover {
  background-color: #ff79da;
  opacity: 0.3;
  cursor: pointer;
}
body .fonctions .service:hover:hover i {
  width: 30px;
  height: 30px;
  color: #778899;
  margin-right: 5px;
  margin-left: 5px;
  color: #9356dc;
  opacity: 1;
}
body .fonctions .service:hover:hover p {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #9356dc;
  opacity: 1;
}
body .fonctions .service i {
  width: 30px;
  height: 30px;
  color: #778899;
  margin-right: 5px;
  margin-left: 5px;
  opacity: 1;
}
body .fonctions .service p {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #9356dc;
  opacity: 1;
}
body .resto {
  padding-left: 2%;
  font-size: 23px;
  font-family: "robotoregular";
}
body .resto .h3 {
  font-family: "robotoregular";
  font-size: 23px;
}
@media screen and (max-width: 599px) {
  body .resto {
    padding-left: 2%;
    font-size: 23px;
    font-family: "robotoregular";
  }
}
body .menu {
  width: 95%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}
@media screen and (max-width: 599px) {
  body .menu {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  body .menu {
    display: block;
  }
}
body .menu a {
  text-decoration: none;
}
body .menu .restaurant {
  margin-bottom: 40px;
  width: 48%;
  border-radius: 10px 10px 10px 10px;
  margin: 20px 0 20px 0;
  box-shadow: 0px 0px 8px #808080;
  cursor: pointer;
  object-fit: cover;
}
@media screen and (max-width: 599px) {
  body .menu .restaurant {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  body .menu .restaurant {
    width: 100%;
    margin-bottom: 20px;
  }
}
body .menu .restaurant .nouveau {
  color: green;
  background-color: #99e2d0;
  position: absolute;
  width: 15%;
  margin: 10px 30%;
}
body .menu .restaurant .nouveau p {
  font-size: 25px;
}
@media screen and (max-width: 599px) {
  body .menu .restaurant .nouveau {
    color: green;
    background-color: #99e2d0;
    position: absolute;
    width: 30%;
    height: 30px;
    margin: 10px 60%;
  }
}
@media screen and (max-width: 1200px) {
  body .menu .restaurant .nouveau {
    width: 30%;
    margin: 10px 60%;
  }
}
body .menu .restaurant img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
@media screen and (max-width: 599px) {
  body .menu .restaurant img {
    height: 300px;
  }
}
body .menu .restaurant .identification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
body .menu .restaurant .identification .nom-resto {
  font-size: 20px;
  text-decoration: none;
  width: 70%;
  color: black;
  margin-left: 10px;
}
body .menu .restaurant .identification .nom-resto p {
  font-family: "robotolight";
  font-size: larger;
  margin-top: -30px;
}
body .menu .restaurant .identification .nom-resto h5 {
  font-family: "robotoregular";
  font-size: 22px;
  margin-top: 5px;
}
body .menu .restaurant .identification .coeur {
  margin-top: -25px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}
body .menu .restaurant .identification .coeur .rose {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
  transition-duration: 1.2s;
  width: 30px;
  height: 30px;
}
body .menu .restaurant .identification .coeur .rose:hover {
  opacity: 1;
  transform: scale(1.2);
}
body .logo-menu {
  width: auto;
  height: 150px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 599px) {
  body .logo-menu {
    height: 80px;
    object-fit: cover;
  }
}
body .logo-menu p {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: "shrikhandregular";
}
@media screen and (max-width: 599px) {
  body .logo-menu p {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: "shrikhandregular";
  }
}
@media screen and (max-width: 1200px) {
  body .logo-menu p {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    font-family: "shrikhandregular";
  }
}
body .logo-menu i {
  margin-left: 15px;
}
body .titre-menu img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 599px) {
  body .titre-menu img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 1200px) {
  body .titre-menu img {
    height: 650px;
    object-fit: cover;
  }
}
body .titre-menu .cuisine-style {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px 40px 0 0;
  background-color: #f2f2f2;
  padding: 10px;
  position: relative;
  margin-top: -40px;
}
@media screen and (max-width: 1200px) {
  body .titre-menu .cuisine-style {
    margin-top: -35px;
  }
}
body .titre-menu .cuisine-style .coeur3 {
  margin-right: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
}
body .titre-menu .cuisine-style h1 {
  font-family: "shrikhandregular";
  font-size: 25px;
}
body .rose {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
  transition-duration: 1.2s;
  width: 30px;
  height: 30px;
}
body .rose:hover {
  opacity: 1;
  transform: scale(1.2);
}
body .menu-prince {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 599px) {
  body .menu-prince {
    width: 100%;
    height: auto;
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  body .menu-prince {
    display: block;
  }
}
body .menu-prince .contner {
  width: 100%;
}
body .menu-prince .contner h2 {
  margin-left: 10px;
  border-bottom: solid aqua;
  width: 60px;
  font-family: "robotolight";
}
body .menu-prince .contner .menus {
  border-radius: 10px 10px 10px 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0px;
  width: 98%;
  margin-top: 20px;
  font-family: "robotolight";
  animation: julie 1s ease-in-out forwards;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px #808080;
}
@keyframes julie {
  from {
    height: 0;
  }
  to {
    height: 70px;
  }
}
body .menu-prince .contner .menus:hover {
  transform: scale(90px);
  opacity: 1;
}
body .menu-prince .contner .menus:hover:hover .check {
  transform: scale(90px);
  width: 90px;
  opacity: 1;
}
body .menu-prince .contner .menus:hover:hover .check i {
  transform: rotate(1turn);
  opacity: 1;
}
body .menu-prince .contner .menus .plat {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .menu-prince .contner .menus .plat .prix {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .menu-prince .contner .menus .plat .prix p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5px;
  padding-left: 5px;
}
body .menu-prince .contner .menus .plat .ingridts {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin: 0 10px 5px 0;
  padding-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .menu-prince .contner .menus .plat .ingridts p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body .menu-prince .contner .menus .check {
  height: 70px;
  width: 10px;
  border-radius: 0 10px 10px 0;
  background-color: aqua;
  transition: 1s;
  opacity: 0;
}
body .menu-prince .contner .menus .check I {
  transform: rotate(0);
  transition-duration: 1s;
  opacity: 1;
}
body .commande {
  width: 100%;
  display: flex;
}
body .commande .boutton {
  width: 150px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  border: none;
  color: #f2f2f2;
  background: linear-gradient(175deg, #ff79da 10%, #9356dc 90%);
  opacity: 0.8;
  box-shadow: 0 0 4px #808080;
}
body .commande .boutton:hover {
  opacity: 1;
  background-color: #9356dc;
  box-shadow: 0 0 6px #808080;
}
@media screen and (max-width: 599px) {
  body .commande .boutton {
    width: 50%;
    height: 50px;
    margin-left: 25%;
    margin-top: 20px;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    border: none;
    background-color: #9356dc;
    opacity: 0.8;
    box-shadow: 0 0 4px #808080;
  }
}
body .bloc-fin {
  width: auto;
  color: #ffffff;
  background-color: #000000;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  font-family: "robotolight";
}
@media screen and (max-width: 1200px) {
  body .bloc-fin {
    font-size: 25px;
  }
}
body .bloc-fin h6, body .bloc-fin h4 {
  width: 80%;
  padding-left: 5px;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "shrikhandregular";
}
body .bloc-fin .proposition {
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
@media screen and (max-width: 599px) {
  body .bloc-fin .proposition {
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
}
body .bloc-fin .partner {
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
@media screen and (max-width: 599px) {
  body .bloc-fin .partner {
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
}
body .bloc-fin .mention {
  width: 80%;
  padding-left: 10px;
}
@media screen and (max-width: 599px) {
  body .bloc-fin .mention {
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
}
body .bloc-fin a {
  width: 80%;
  padding-left: 10px;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 599px) {
  body .bloc-fin a {
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
}
body .bloc-fin i {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
